.rooms {
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
      flex: 1;
    }
  }

  &__list {
    &__item {
      width: 100%;
    }
  }
}

.room-short-info {
  display: flex;
  flex-direction: row;
  //border: 1px solid #80cbf1;
  border-radius: 15px;
  padding: 15px;
  transition: all .7s ease;

  &:hover {
    background-color: #e6e6e6;
  }

  &__thumbnail {
    width: 200px;

    img {
      width: 100%;
      border-radius: 2%;
    }
  }

  &__description {
    text-align: left;
    color: #000;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-style: italic;
    @media screen and (max-width: 500px) {
      font-size: .8em;
    }
  }
}

.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  margin-bottom: 15px;
}